.create-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}

.create-tweet .textarea {
  width: 500px;
}
